@use '../helpers' as *;
@use '../variables' as *;

.footer {
    padding: rem(16) rem(32);
    background: $color-bg-main;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @include mobile {
        flex-direction: column;
        gap: rem(8);
        padding: rem(12) rem(16) rem(0);
    }

    @include mobile-s {
        justify-content: center;
        text-align: center;
    }
}

.footer__left,
.footer__right {
    display: flex;
    align-items: center;
    gap: rem(12);

    @include mobile {
        gap: rem(6);
    }

    @include mobile-s {
        flex-direction: column;
        gap: rem(4);
    }
}

.footer__text { //текст футер 2026
    color: $color-text-muted;
    font-size: rem(12);
    margin: 0;

    @include tablet {
        font-size: rem(10);
    }

    @include mobile {
        font-size: rem(9);
    }

    @include mobile-s {
        font-size: rem(7);
    }
}

.footer__text-small {
    color: $color-text-muted;
    font-size: rem(12);
    margin: 0;

    @include tablet {
        font-size: rem(10);
    }

    @include mobile {
        font-size: rem(9);
    }

    @include mobile-s {
        font-size: rem(7);
    }
}

.footer__divider {
    color: $color-text-muted;
    font-size: rem(12);

    @include mobile {
        font-size: rem(8);
    }

    @include mobile-s {
        display: none;
    }
}

.footer__link {
    color: $color-primary;
    font-size: rem(12);
    text-decoration: none;
    transition: color 0.3s ease;

    @include hover {
        color: $color-primary-light;
        text-decoration: underline;
    }

    @include tablet {
        font-size: rem(10);
    }

    @include mobile-s {
        font-size: rem(7);
    }
}