@use '../helpers/index' as *;

.footer {
    position: relative;
    z-index: 2;

    background: linear-gradient(
        to bottom,
        #f5e2ef 0%,
        #f8e6f1 40%,
        #fdf7fb 100%
    );

    border-top: none;

    padding: rem(28) rem(20);
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-size: rem(18);
        letter-spacing: 0.08em;
        color: rgba(176, 128, 170, 0.8);
        text-align: center;
        margin: 0;
    }
}