// ПЕРЕМЕННЫЕ ПРОЕКТА 

// ПЕРЕМЕННЫЕ ПРОЕКТА 

// ЦВЕТА - ОСНОВНОЙ ФОН
$color-bg-main: #FAF8F4;
$color-bg-light: #FCFAFB;
$color-bg-dark: #F2EEF0;
$color-bg-green:#BCC6B2;
$color-bg-beige:#E8DECE;

// ЦВЕТА - ОСНОВНЫЕ
$color-primary: #CFA7B8;
$color-primary-light: #E8C7D4;
$color-accent-blue: #C9D9F8;
$color-accent-blue-light: #AFC6F0;

// ЦВЕТА - ТЕКСТ
$color-text: #333333;
$color-text-light: #666666;
$color-text-muted: #7A7477;
$color-white: #ffffff;

// ЦВЕТА - ДЕКОРАТИВНЫЕ
$color-secondary: #C5D7F2;
$color-border: rgba(0, 0, 0, 0.1);

// ГРАДИЕНТЫ
$gradient-portfolio-text: linear-gradient(180deg, #e9c8d9 0%, #d7c6ef 100%);
$gradient-portfolio-bg: linear-gradient(180deg, #e8c6d8 0%, #d8b8ea 100%);
$gradient-portfolio-bg1: linear-gradient(135deg,#F9F6EF 0%,#E8DECE 45%,#BCC6B2 100%);


// ТИПОГРАФИКА
$font-family-base: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;